{{define "Title"}}Covid-19 Analysis{{end}}

{{define "Body"}}
    <div class="row">
        <div class="col-sm-9">
            <h2>COVID-19 Cases and Deaths</h2>
        </div>
        <div class="col-sm-3">
            <form action="/sample" method="GET">
                {{$current := .date}}
                <select id="date" name="date">
                    {{range .dates}}
                        <option {{if and (eq $current.Year .Year) (eq $current.YearDay .YearDay)}}selected {{end}}value="{{.Format "2006-01-02"}}">{{.Format "Jan 2"}}</option>
                    {{end}}
                </select>
                <input type="submit" value="Go"/>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img src="/chart/cases?cases={{.Cases}}&deaths={{.Deaths}}&regression={{.Regression}}&country={{.Country}}&exclude={{.Exclude}}"/>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="customizeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Customize Chart
            </button>
            <script>
                function casesSelectChange(e) {
                    const cases = document.getElementById("numberCases");
                    const deaths = document.getElementById("numberDeaths");
                    const regression = document.getElementById("regression");
                    if (cases.value === "DAILY" || cases.value === "ROLLING") {
                        deaths.value = cases.value
                        deaths.disabled = true
                        regression.disabled = false
                    } else {
                        if (deaths.value === "DAILY" || deaths.value === "ROLLING") {
                            deaths.value = "ABS"
                        }
                        deaths.disabled = false
                        regression.disabled = true
                    }
                }
            </script>
            <div class="dropdown-menu" aria-labelledby="customizeButton" style="width: 300px">
                <form action="{{.URL}}" method="get" class="px-4 py-3">
                    <div class="form-group">
                        <label for="country">Countries to include</label>
                        <input type="text" id="country" name="country" value="{{.Country}}"/>
                    </div>
                    <div class="form-group">
                        <label for="exclude">Countries to exclude</label>
                        <input type="text" id="exclude" name="exclude" value="{{.Exclude}}"/>
                    </div>
                    <div class="form-group">
                        <label for="numberCases">#Cases</label>
                        <select name="cases" class="form-control" id="numberCases" onchange="casesSelectChange();">
                            {{$casesValues := makeslice "ABS" "REL" "DAILY" "ROLLING" "NONE"}}
                            {{$casesTexts := makeslice "Total Number" "Cases per Million" "Daily new cases" "Daily new rolling avg" "Don't show"}}
                            {{range $ix, $value := $casesValues}}
                                <option value={{$value}}
                                        {{if eq $.Cases $value}}selected{{end}}
                                >{{index $casesTexts $ix}}</option>
                            {{end}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="numberDeaths">#Deceased</label>
                        <select name="deaths" class="form-control" id="numberDeaths"
                                {{if or (eq .Cases "DAILY") (eq .Cases "ROLLING")}}disabled{{end}}
                        >
                            {{$deathsValues := makeslice "ABS" "REL" "MORTALITY" "NONE"}}
                            {{$deathsTexts := makeslice "Total Number" "Deaths per Million" "Deaths relative to Cases" "Don't show"}}
                            {{range $ix, $value := $deathsValues}}
                                <option value={{$value}}
                                        {{if eq $.Deaths $value}}selected{{end}}
                                >{{index $deathsTexts $ix}}</option>
                            {{end}}
                            <option value="DAILY" disabled
                                    {{if eq .Deaths "DAILY"}}selected{{end}}
                            >Daily new deaths</option>
                            <option value="ROLLING" disabled
                                    {{if eq .Deaths "ROLLING"}}selected{{end}}
                            >Daily new deaths rolling avg</option>
                        </select>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" name="regression" id="regression" value="true"
                               {{if or (eq .Cases "DAILY") (eq .Cases "ROLLING") | not}}disabled{{end}}
                                {{if eq .Regression "true"}}checked{{end}}
                        >
                        <label class="custom-control-label" for="regression">Display 3rd degree polynomial regression</label>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th class="text-center" style="width: 60px">&nbsp;</th>
                <th class="text-center">Country/Region</th>
                <th class="text-center">Total Confirmed</th>
                <th class="text-center">Total Deceased</th>
            </tr>
            {{range .results}}
                <tr>
                    <td class="text-center" style="width: 60px">
                        <img src="{{(index . 1).GetFlag "sm" }}" alt="{{(index . 1).Name}}" height="17px" width="25px"/>
                    </td>
                    <td class="text-center" style="vertical-align: middle">
                        <a href="/jurisdiction/{{(index . 1).Ident}}">{{(index . 1).Name}}</a>
                    </td>
                    <td class="text-center">{{(index . 0).Confirmed}}</td>
                    <td class="text-center">{{(index . 0).Deceased}}</td>
                </tr>
            {{end}}
        </table>
    </div>
{{end}}
