{{define "Title"}}Covid-19 Analysis{{end}}

{{define "Body"}}
    <div class="col-sm-9">
        <h1>COVID-19</h1>
    </div>
    <div class="col-sm-9">
        <h2>Deaths by Population</h2>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img src="/chart/deathsbypop"/>
        </div>
    </div>
    <div class="col-sm-9">
        <h2>Deaths by GDP per Capita</h2>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img src="/chart/deathsbygdp"/>
        </div>
    </div>
    <div class="col-sm-9">
        <h2>Deaths by Median Age</h2>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img src="/chart/deathsbyage"/>
        </div>
    </div>
{{end}}
